.business-page {
  width: 100%;
  height: 100vh;
  background-image: url("/public/business-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  color: white;
  font-size: 55px;
  font-weight: 800;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.5);
}
