.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 120px;
  background: #f7f7f7;
  min-height: 90vh;
}

.hero-content {
  max-width: 45%;
}

.small-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #00b894;
}

.hero-title {
  font-size: 50px;
  font-weight: 800;
  margin: 15px 0;
  color: #222;
  line-height: 1.1;
}

.highlight {
  color: #00b894;
}

.hero-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #555;
}

.resume-btn {
  display: inline-block;
  padding: 12px 25px;
  background: #00b894;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.resume-btn:hover {
  background: #019f81;
}

.social-links {
  margin-top: 25px;
}

.social-links a {
  margin-right: 20px;
  font-weight: bold;
  color: #00b894;
  text-decoration: none;
}

.hero-image {
  position: relative;
}

.hero-image img {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.circle-bg {
  width: 680px;
  height: 680px;
  border-radius: 50%;
  background: rgba(0, 184, 148, 0.15);
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: 1;
}
